body {
    margin: 0;
    background-image: url('../images/city.jpg');
    background-size: cover;
    background-position: center center;
}
.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
   
}
.container h1 {
    font-weight: normal;
    font-family: inherit;
}
.counter-box {
    display: flex;
}

.counter > p {
    display: flex;
    padding: 0.8rem;
    margin: 0.35rem;
    font-size: 4rem;
    background-color: #757F89;
    color: #fff;
    font-family: inherit;
    font-weight: 400;
    box-shadow: 0 4px 12px 0px #272727;
    
}
.counter > span {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    color: #FF9F02;
    font-family: inherit;
}
#days-counter {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#seconds-counter {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#days-counter,
#hours-counter,
#minutes-counter,
#seconds-counter{
    display: block;
    text-align: center;
    min-width: 7rem;
}